# python cache
**/__pycache/
__pycache__/
__pycache__/data_read.cpython-37.pyc

# data file
EventData

# idea file
.idea/**

# Mac File
.DS_Store

# log file
*.log

# venv
/venv/

.vscode
tmp
playground.ipynb
